In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data Cleaning

In [2]:
df=pd.read_csv('D:/APPLIED AI COURSE/Projects/Linear Regression/Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [5]:
df1=df.drop(['area_type','availability','society','balcony'],axis=1)
print(df1.shape)
df1.head()

(13320, 5)

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [6]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [7]:
df1['bath']=df1['bath'].fillna(df1.bath.mean())

In [8]:
df2=df1.dropna()
print(df2.shape)
df2.head()

(13303, 5)

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [9]:
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [10]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [11]:
df2['bhk']=df2['size'].apply(lambda x: int(x.split(' ')[0]))

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
df2.head(10)

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2
5                Whitefield      2 BHK       1170   2.0   38.00    2
6          Old Airport Road      4 BHK       2732   4.0  204.00    4
7              Rajaji Nagar      4 BHK       3300   4.0  600.00    4
8              Marathahalli      3 BHK       1310   3.0   63.25    3
9              Gandhi Bazar  6 Bedroom       1020   6.0  370.00    6

In [13]:
df2['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [14]:
df2[df2['bhk']>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [15]:
df2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [16]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [17]:
df2[~df2['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft     bath    price  bhk
30            Yelahanka      4 BHK     2100 - 2850  4.00000  186.000    4
56          Devanahalli  4 Bedroom     3010 - 3410  2.69261  192.000    4
81          Hennur Road  4 Bedroom     2957 - 3450  2.69261  224.500    4
122              Hebbal      4 BHK     3067 - 8156  4.00000  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105  2.00000   54.005    2
165            Sarjapur      2 BHK     1145 - 1340  2.00000   43.490    2
188            KR Puram      2 BHK     1015 - 1540  2.00000   56.800    2
224         Devanahalli      3 BHK     1520 - 1740  2.69261   74.820    3
410             Kengeri      1 BHK  34.46Sq. Meter  1.00000   18.500    1
549         Hennur Road      2 BHK     1195 - 1440  2.00000   63.770    2

In [18]:
def convert_string_to_num(x):
    tokens=x.split('-')
    if(len(tokens)>=2):
        return (float(tokens[0])+float(tokens[1]))/2;
    try:
        return float(x)
    except:
        return None

In [19]:
print(convert_string_to_num('2166'))
print(convert_string_to_num('1520-1740'))
print(convert_string_to_num('34.46Sq. Meter'))

2166.0
1630.0
None

In [20]:
df2['total_sqft']=df['total_sqft'].apply(convert_string_to_num)
df2.head(10)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2
5                Whitefield      2 BHK      1170.0   2.0   38.00    2
6          Old Airport Road      4 BHK      2732.0   4.0  204.00    4
7              Rajaji Nagar      4 BHK      3300.0   4.0  600.00    4
8              Marathahalli      3 BHK      1310.0   3.0   63.25    3
9              Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00    6

In [21]:
df2.loc[410]

location      Kengeri
size            1 BHK
total_sqft        NaN
bath                1
price            18.5
bhk                 1
Name: 410, dtype: object

In [22]:
df2.loc[549]

location      Hennur Road
size                2 BHK
total_sqft         1317.5
bath                    2
price               63.77
bhk                     2
Name: 549, dtype: object

In [23]:
df2.isnull().sum()

location       0
size           0
total_sqft    46
bath           0
price          0
bhk            0
dtype: int64

In [24]:
df3=df2.dropna()
print(df3.shape)
df3.head()

(13257, 6)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [25]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

Feature Engineering

In [26]:
df3['price_per_sqft']=(df3['price']*(10**5))/df3['total_sqft']
df3.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [27]:
df3['location'].nunique()

1298

In [28]:
location_stats=df3.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield                                      537
Sarjapur  Road                                  397
Electronic City                                 302
Kanakpura Road                                  271
Thanisandra                                     233
Yelahanka                                       212
Uttarahalli                                     186
Hebbal                                          177
Marathahalli                                    175
Raja Rajeshwari Nagar                           171
Hennur Road                                     152
Bannerghatta Road                               151
7th Phase JP Nagar                              148
Haralur Road                                    142
Electronic City Phase II                        132
Rajaji Nagar                                    107
Chandapura                                      100
Bellandur                                        96
KR Puram                                         91
Electronics City Phase 1                         88
Hoodi                                            88
Yeshwanthpur                                     85
Begur Road                                       84
Sarjapur                                         81
Kasavanhalli                                     79
Harlur                                           79
Hormavu                                          74
Banashankari                                     74
Kengeri                                          72
Ramamurthy Nagar                                 72
                                               ...
white field,kadugodi                              1
Kamdhenu Nagar                                    1
Kalkere Channasandra                              1
Kalhalli                                          1
Kalasipalya                                       1
KPC Layout                                        1
KHB Colony Extension                              1
KG Halli                                          1
Kathriguppe IV Phase                              1
Keerthi Layout                                    1
Kenchanehalli R R Nagar                           1
Kengeri Satellite Town ( BDA SITE)                1
MEI layout, Bagalgunte                            1
M.G Road                                          1
M C Layout                                        1
Laxminarayana Layout                              1
Lalbagh Road                                      1
Lakshmipura Vidyaanyapura                         1
Lakshminarayanapura, Electronic City Phase 2      1
Lakkasandra Extension                             1
LIC Colony                                        1
Kuvempu Layout                                    1
Kumbhena Agrahara                                 1
Kudlu Village,                                    1
Konappana Agrahara                                1
Kodanda Reddy Layout                              1
Kirloskar layout, Basaveshwarnagar                1
Kengeri Satellite Town Stage II                   1
Kengeri Satellite Town KHB Apartment              1
 Anekal                                           1
Name: location, Length: 1298, dtype: int64

In [29]:
location_stats_lessthan_10=location_stats[location_stats<=10]
location_stats_lessthan_10

location
Basapura                                        10
Naganathapura                                   10
Thyagaraja Nagar                                10
Gunjur Palya                                    10
Sadashiva Nagar                                 10
Dairy Circle                                    10
Ganga Nagar                                     10
Nagadevanahalli                                 10
Nagappa Reddy Layout                            10
1st Block Koramangala                           10
Kalkere                                         10
BTM 1st Stage                                   10
Dodsworth Layout                                10
Medahalli                                        9
Ejipura                                          9
Chandra Layout                                   9
Yemlur                                           9
Kaverappa Layout                                 9
2nd Phase JP Nagar                               9
Kamakshipalya                                    9
Jakkur Plantation                                9
Peenya                                           9
Richmond Town                                    9
Vignana Nagar                                    9
B Narayanapura                                   9
Gollahalli                                       9
Vishwanatha Nagenahalli                          9
4th Block Koramangala                            9
Banagiri Nagar                                   9
Lingarajapuram                                   9
                                                ..
white field,kadugodi                             1
Kamdhenu Nagar                                   1
Kalkere Channasandra                             1
Kalhalli                                         1
Kalasipalya                                      1
KPC Layout                                       1
KHB Colony Extension                             1
KG Halli                                         1
Kathriguppe IV Phase                             1
Keerthi Layout                                   1
Kenchanehalli R R Nagar                          1
Kengeri Satellite Town ( BDA SITE)               1
MEI layout, Bagalgunte                           1
M.G Road                                         1
M C Layout                                       1
Laxminarayana Layout                             1
Lalbagh Road                                     1
Lakshmipura Vidyaanyapura                        1
Lakshminarayanapura, Electronic City Phase 2     1
Lakkasandra Extension                            1
LIC Colony                                       1
Kuvempu Layout                                   1
Kumbhena Agrahara                                1
Kudlu Village,                                   1
Konappana Agrahara                               1
Kodanda Reddy Layout                             1
Kirloskar layout, Basaveshwarnagar               1
Kengeri Satellite Town Stage II                  1
Kengeri Satellite Town KHB Apartment             1
 Anekal                                          1
Name: location, Length: 1058, dtype: int64

In [30]:
df3['location']=df3['location'].apply(lambda x: 'other' if x in location_stats_lessthan_10 else x)
df3.head(10)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,3247.863248
6,Old Airport Road,4 BHK,2732.0,4.0,204.00,4,7467.057101
7,Rajaji Nagar,4 BHK,3300.0,4.0,600.00,4,18181.818182
8,Marathahalli,3 BHK,1310.0,3.0,63.25,3,4828.244275
9,other,6 Bedroom,1020.0,6.0,370.00,6,36274.509804

Outlier Detection and Removal

In [31]:
df3[df3['total_sqft']/df3['bhk']<300]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,370.00,6,36274.509804
45,HSR Layout,8 Bedroom,600.0,9.0,200.00,8,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,150.00,6,10660.980810
68,other,8 Bedroom,1350.0,7.0,85.00,8,6296.296296
70,other,3 Bedroom,500.0,3.0,100.00,3,20000.000000
78,Kaval Byrasandra,2 BHK,460.0,1.0,22.00,2,4782.608696
89,Rajaji Nagar,6 Bedroom,710.0,6.0,160.00,6,22535.211268
119,Hennur Road,2 Bedroom,276.0,3.0,23.00,2,8333.333333
129,Vishwapriya Layout,7 Bedroom,950.0,7.0,115.00,7,12105.263158
149,other,6 Bedroom,1034.0,5.0,185.00,6,17891.682785
170,other,6 BHK,1300.0,6.0,99.00,6,7615.384615
176,Kumaraswami Layout,5 Bedroom,600.0,3.0,85.00,5,14166.666667
193,other,7 Bedroom,1800.0,7.0,250.00,7,13888.888889
258,other,5 Bedroom,1200.0,5.0,170.00,5,14166.666667
282,other,6 Bedroom,1450.0,6.0,250.00,6,17241.379310
299,Giri Nagar,3 Bedroom,880.0,3.0,140.00,3,15909.090909
315,other,5 Bedroom,1200.0,5.0,180.00,5,15000.000000
349,other,3 Bedroom,11.0,3.0,74.00,3,672727.272727
397,other,6 BHK,700.0,3.0,120.00,6,17142.857143
409,Sultan Palaya,2 Bedroom,550.0,1.0,62.00,2,11272.727273
413,Mahalakshmi Layout,6 Bedroom,1200.0,7.0,250.00,6,20833.333333
425,Chandapura,6 Bedroom,1533.0,5.0,85.00,6,5544.683627
434,7th Phase JP Nagar,8 Bedroom,1200.0,8.0,250.00,8,20833.333333
480,other,4 BHK,1150.0,4.0,260.00,4,22608.695652
481,Basavangudi,4 Bedroom,1125.0,4.0,180.00,4,16000.000000
482,Kenchenahalli,5 Bedroom,500.0,3.0,65.00,5,13000.000000
483,other,5 Bedroom,1200.0,5.0,190.00,5,15833.333333
491,Banjara Layout,3 Bedroom,600.0,3.0,58.00,3,9666.666667
513,8th Phase JP Nagar,4 Bedroom,660.0,4.0,90.00,4,13636.363636
554,Hosa Road,6 Bedroom,1300.0,6.0,145.00,6,11153.846154
...,...,...,...,...,...,...,...
12942,other,6 Bedroom,625.0,3.0,78.00,6,12480.000000
12950,5th Phase JP Nagar,4 Bedroom,1000.0,4.0,130.00,4,13000.000000
12956,other,5 Bedroom,900.0,4.0,62.00,5,6888.888889
12961,other,6 BHK,1799.0,6.0,101.00,6,5614.230128
12962,other,6 Bedroom,1500.0,6.0,300.00,6,20000.000000
12973,other,3 Bedroom,600.0,3.0,86.00,3,14333.333333
12988,Electronic City Phase II,2 BHK,545.0,1.0,28.00,2,5137.614679
12992,other,5 Bedroom,1200.0,4.0,200.00,5,16666.666667
12993,Judicial Layout,5 BHK,1100.0,4.0,199.00,5,18090.909091
13023,Hegde Nagar,6 Bedroom,760.0,6.0,98.00,6,12894.736842
13036,2nd Stage Nagarbhavi,5 Bedroom,1200.0,4.0,240.00,5,20000.000000
13045,other,6 Bedroom,600.0,6.0,65.00,6,10833.333333
13052,8th Phase JP Nagar,4 Bedroom,600.0,5.0,99.00,4,16500.000000
13061,CV Raman Nagar,5 Bedroom,1200.0,2.0,100.00,5,8333.333333
13063,Vidyaranyapura,4 Bedroom,770.0,3.0,65.25,4,8474.025974
13073,Nagarbhavi,4 Bedroom,600.0,3.0,100.00,4,16666.666667
13076,Shivaji Nagar,2 BHK,500.0,1.0,20.00,2,4000.000000
13112,Nagavara,3 Bedroom,440.0,3.0,35.00,3,7954.545455
13146,other,7 BHK,1800.0,5.0,65.00,7,3611.111111
13190,Yelahanka,5 Bedroom,1330.0,5.0,210.00,5,15789.473684
13198,other,8 Bedroom,1200.0,8.0,140.00,8,11666.666667
13216,other,1 BHK,250.0,2.0,40.00,1,16000.000000
13217,other,6 Bedroom,1200.0,3.0,125.00,6,10416.666667
13219,Laggere,7 Bedroom,1590.0,9.0,132.00,7,8301.886792
13221,other,9 Bedroom,1178.0,9.0,75.00,9,6366.723260
13277,other,7 Bedroom,1400.0,7.0,218.00,7,15571.428571
13279,other,6 Bedroom,1200.0,5.0,130.00,6,10833.333333
13281,Margondanahalli,5 Bedroom,1375.0,5.0,125.00,5,9090.909091
13303,Vidyaranyapura,5 Bedroom,774.0,5.0,70.00,5,9043.927649
13311,Ramamurthy Nagar,7 Bedroom,1500.0,9.0,250.00,7,16666.666667

In [32]:
df4=df3[~(df3['total_sqft']/df3['bhk']<300)]
print(df4.shape)
df4.head()

(12513, 7)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [33]:
df4['price_per_sqft'].describe()

count     12513.000000
mean       6307.441644
std        4160.931610
min         267.829813
25%        4210.526316
50%        5295.007564
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [34]:
def remove_pps_ouliers(df):
    df_out=pd.DataFrame()
    for key,sub_df in df.groupby('location'):
        mean=sub_df['price_per_sqft'].mean()
        std=sub_df['price_per_sqft'].std()
        
        reduced_df=sub_df[(sub_df['price_per_sqft']>=(mean-std)) & (sub_df['price_per_sqft']<=(mean+std))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

In [35]:
df5=remove_pps_ouliers(df4)
print(df5.shape)
df5.head(10)

(10340, 7)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Devarachikkanahalli,3 BHK,1250.0,2.0,44.0,3,3520.000000
1,Devarachikkanahalli,2 BHK,1250.0,2.0,40.0,2,3200.000000
2,Devarachikkanahalli,2 Bedroom,1200.0,2.0,83.0,2,6916.666667
3,Devarachikkanahalli,2 BHK,1170.0,2.0,40.0,2,3418.803419
4,Devarachikkanahalli,3 BHK,1425.0,2.0,65.0,3,4561.403509
5,Devarachikkanahalli,2 BHK,947.0,2.0,43.0,2,4540.654699
6,Devarachikkanahalli,2 BHK,1130.0,2.0,36.0,2,3185.840708
7,Devarachikkanahalli,3 BHK,1417.0,2.0,76.0,3,5363.443896
8,Devarachikkanahalli,2 BHK,1230.0,2.0,58.0,2,4715.447154
9,Devarachikkanahalli,3 BHK,1705.0,3.0,75.0,3,4398.826979

In [36]:
df5[df5['bath']>df5['bhk']+2]

           location       size  total_sqft  bath   price  bhk  price_per_sqft
1652  Chikkabanavar  4 Bedroom      2460.0   7.0    80.0    4     3252.032520
5297     Nagasandra  4 Bedroom      7000.0   8.0   450.0    4     6428.571429
6784    Thanisandra      3 BHK      1806.0   6.0   116.0    3     6423.034330
8496          other      6 BHK     11338.0   9.0  1000.0    6     8819.897689

In [37]:
df6=df5[~(df5['bath']>df5['bhk']+2)]
print(df6.shape)
df6.head(10)

(10336, 7)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Devarachikkanahalli,3 BHK,1250.0,2.0,44.0,3,3520.000000
1,Devarachikkanahalli,2 BHK,1250.0,2.0,40.0,2,3200.000000
2,Devarachikkanahalli,2 Bedroom,1200.0,2.0,83.0,2,6916.666667
3,Devarachikkanahalli,2 BHK,1170.0,2.0,40.0,2,3418.803419
4,Devarachikkanahalli,3 BHK,1425.0,2.0,65.0,3,4561.403509
5,Devarachikkanahalli,2 BHK,947.0,2.0,43.0,2,4540.654699
6,Devarachikkanahalli,2 BHK,1130.0,2.0,36.0,2,3185.840708
7,Devarachikkanahalli,3 BHK,1417.0,2.0,76.0,3,5363.443896
8,Devarachikkanahalli,2 BHK,1230.0,2.0,58.0,2,4715.447154
9,Devarachikkanahalli,3 BHK,1705.0,3.0,75.0,3,4398.826979

In [38]:
df6.location.nunique()

241

In [39]:
dummies=pd.get_dummies(df6['location'])
dummies.head()

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df7=pd.concat([df6,dummies.drop('other',axis=1)],axis=1)
print(df7.shape)
df7.head()

(10336, 247)

,location,size,total_sqft,bath,price,bhk,price_per_sqft,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Devarachikkanahalli,3 BHK,1250.0,2.0,44.0,3,3520.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Devarachikkanahalli,2 BHK,1250.0,2.0,40.0,2,3200.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Devarachikkanahalli,2 Bedroom,1200.0,2.0,83.0,2,6916.666667,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Devarachikkanahalli,2 BHK,1170.0,2.0,40.0,2,3418.803419,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Devarachikkanahalli,3 BHK,1425.0,2.0,65.0,3,4561.403509,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
y=df7.price
y.shape

(10336,)

In [42]:
X=df7.drop(['price','location','size'],axis=1)

In [43]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [44]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
y_pred=model.predict(X_test)
y_pred

array([ 97.73222139,  73.73115363,  85.34729095, ..., 332.7099579 ,
       188.15476558, 148.5193531 ])

In [46]:
model.score(X_test,y_test)

0.9314054545791404

In [47]:
from scipy.sparse.construct import random
from sklearn.model_selection import cross_val_score,ShuffleSplit

cross_val=ShuffleSplit(n_splits=10,test_size=0.2,random_state=0)
cross_val_score(model,X,y,cv=cross_val)

array([0.8906826 , 0.93324649, 0.86867187, 0.94783945, 0.91477532,
       0.86077105, 0.90684993, 0.93826751, 0.94486768, 0.89781882])

In [48]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos={
        'linear_regression': { 'model': LinearRegression(),
                              'params': {'normalize':[True,False]
                                        }
        },
        'lasso': { 'model': Lasso(),
                              'params': {'alpha':[1,2],
                                         'selection':['random','cyclic']
                                        }
        },
        'decison_tree': { 'model': DecisionTreeRegressor(),
                              'params': { 'criterion':['mse','friedman_mse'],
                                          'splitter' : ['best','random']
                                        }
        }
    }

    scores=[]
    cross_val=ShuffleSplit(n_splits=10,test_size=0.2,random_state=0)
    
    for algo_name,config in algos.items():
        gs=GridSearchCV(config['model'],config['params'],cv=cross_val)
        gs.fit(X,y)
        scores.append({'model':algo_name,
                      'best_score':gs.best_score_,
                      'best_params':gs.best_params_})

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [49]:
find_best_model_using_gridsearchcv(X,y)

               model  best_score                                 best_params
0  linear_regression    0.910379                        {'normalize': False}
1              lasso    0.902417         {'alpha': 1, 'selection': 'random'}
2       decison_tree    0.928956  {'criterion': 'mse', 'splitter': 'random'}

In [50]:
def predict_price(location,sqft,bath,bhk):
    loc_index=np.where(X.columns==location)[0]

    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=bhk
    if(loc_index>=0):
        x[loc_index]=1
    
    return model.predict([x])[0]

In [51]:
predict_price('Devarachikkanahalli',5000,4,3)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

227.9600601404572

In [52]:
predict_price('Devarachikkanahalli',3000,4,3)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

89.29420450198997

In [53]:
predict_price('Devarachikkanahalli',4000,2,2)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

160.47916315568193

In [54]:
predict_price('Indira Nagar',5000,4,3)

232.24580521998018

In [55]:
from joblib import dump, load
dump(model,'BHP.joblib')

['BHP.joblib']

In [56]:
import json

columns={
    'data_columns' : [i.lower() for i in X.columns]
}

with open('columns.json','w') as f:
      f.write(json.dumps(columns))